.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 7rem;
    margin-bottom: 17rem;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 0.1;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
   
  }
  img{
    height: 17rem;
    width: 19rem;
    border-radius: 10px; 
    cursor: pointer;
    
  }
  .bt2{
    margin: 0;
  position: absolute;
cursor: pointer;
  left: 50%;
  top: 125rem;
  transform: translate(-50%, -50%);
  background-color: orangered;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}